@font-face {
  font-family: "iconfont"; /* Project id 2698635 */
  src: url('iconfont.woff2?t=1627200485977') format('woff2'),
       url('iconfont.woff?t=1627200485977') format('woff'),
       url('iconfont.ttf?t=1627200485977') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondown:before {
  content: "\e69a";
}

.iconup:before {
  content: "\e69d";
}

